@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    h1{color:white; font-weight: bold;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; size: 3em;font-variant:small-caps ;
    text-align: right;text-decoration: dotted double;border: double dotted white;margin-left: 5%;text-transform: uppercase ; 
    }
    #fondos{background-image: url(https://fondosmil.com/fondo/79138.jpg);
    background-position: center;} 
</style>
<body id="fondos"> 
    <header>
        <div class="text-center">
    <h1 class="display-4">Hospitalizacion En Casa</h1>
    </header>
    <main>


    </main>
   
<footer>
    
    
</footer>
    
</body>

