@page
@model Hospitalizacion.App.Frontend.Pages.PacienteFamiliarEliminarModel
@{
    ViewData["Title"]="Eliminar Paciente Familiar";
}
<style>
    h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 
    sans-serif;text-align: center;margin-left: 35%;margin-right: 35%;}
    div{color: blue;font-variant: small-caps;}
    .fondo{background-image: url(https://img.freepik.com/vector-premium/fondo-concepto-medicina-ciencia_41814-21.jpg?w=2000);}
    .table{font-weight: bold;text-transform: uppercase;}
</style>
<body class="fondo">
    

 <header class="fondo">
    
</header>
<h1> Eliminar</h1>

<div>
    <br>
</div>


<form method="post" >
     <table class="table">
        <thead>
            <tr>
                @* <th scope="col" hidden>Id</th> *@
                <th scope="col">Familiar</th>
                <th scope="col">Paciente</th>
                
               
                <th scope="col" colspan="1">Opciones</th>
            </tr>
        </thead>
        <tbody >
            @foreach (var PF in Model.pf)
            {
                <tr>
                    <th scope="row" hidden>@PF.Id</th>
                    
                    <td>@PF.FamiliarId</td>
                    <td>@PF.PacienteId</td>
                    
                   
                    
                    <td><button type="button" class="btn btn-outline-danger" style="font-weight:bold ;"><a asp-page="./PacienteFamiliarEliminar" asp-route-id="@PF.Id"> Eliminar</a></button></td>
                   
                </tr>
                
                
            }   
        </tbody>   
        <form>
            <INPUT TYPE="button" VALUE="Regresar" class="btn btn-outline-success" onClick="history.go(-1);"
                style="margin-left:15% ; margin-rigth:15%;">
        </form>
    </table>
</form>
</body>
