@page
@model Hospitalizacion.App.Frontend.Pages.CrearMedicoModel
@{

  ViewData["Title"] = "crear Medico";
}
<style>
  h1,
  legend {
    color: blue;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dashed double;
    text-transform: uppercase;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 1.5 em;
  }

  .logo {
    background-image: url(https://img.freepik.com/foto-gratis/blur-hospital_1203-7957.jpg?w=2000);
  }

  #Nombre,
  #Apellido,
  #Telefono,
  #TipoAuxiliar,
  #Codigo,
  #TargetaProfesional,
  #Registro {
    border-color: blue;
    border: inset;
    text-transform: uppercase;
    background-color: #10F5E0;
    color: black;
  }

  input {
    border-color: black;
  }
</style>

<body class="logo">


  <h1>Crear Medico</h1>
  <h3>@ViewData["Error"]</h3>
  <form method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <legend>Informacion</legend>
    <div class="input-group mb-3">
      <span asp-for="Medico.Nombre" class="input-group-text" id="Nombre">Nombre</span>
      <input type="text" asp-for="Medico.Nombre" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" placeholder="Nombre">
      <span asp-validation-for="Medico.Nombre" class="text-danger"></span>
      <span asp-for="Medico.Apellido" class="input-group-text" id="Apellido">Apellido</span>
      <input type="text" asp-for="Medico.Apellido" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" placeholder="Apellido">
      <span asp-validation-for="Medico.Apellido" class="text-danger"></span>
      <span asp-for="Medico.Telefono" class="input-group-text" id="Telefono">Telefono</span>
      <input type="text" asp-for="Medico.Telefono" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" placeholder="Telefono">
      <span asp-validation-for="Medico.Telefono" class="text-danger"></span>
      <select asp-for="Medico.Genero" class="form-select" aria-label="Default select example">
        <option selected>Genero</option>
        <option value="Femenino">Femenino</option>
        <option value="Masculino">Masculino</option>
      </select>
      <span asp-validation-for="Medico.Genero" class="form-danger"></span>
    </div>

    <h4>Informacion Especifica</h4>

    <div>
      <br>
    </div>

    <div class="row">

      <div class="col">
        <span asp-for="Medico.Codigo" class="input-group-text" id="Codigo">Codigo</span>
        <input type="text" asp-for="Medico.Codigo" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default" placeholder="Codigo de area">
        <span asp-validation-for="Medico.Codigo" class="text-danger"></span>
      </div>

      <div class="col">
        <select asp-for="Medico.Especialidad" class="form-select" aria-label="Default select example">
          <option selected>Especialidad</option>
          <option value="General">General</option>
          <option value="Dermatologia">Dermatologia</option>
          <option value="Neurologia">Neurologia</option>
          <option value="Ortopedia">Ortopedia</option>
          <option value="Pediatria">Pediatria</option>
          <option value="Psiquiatria">Psiquiatria</option>
        </select>
        <span asp-validation-for="Medico.Especialidad" class="text-danger"></span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span asp-for="Medico.TargetaProfesional" class="input-group-text" id="Codigo">Targeta Profesional</span>
        <input type="text" asp-for="Medico.TargetaProfesional" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default" placeholder="Numero de targeta">
        <span asp-validation-for="Medico.TargetaProfesional" class="text-danger"></span>
      </div>
      <div class="col">
        <span asp-for="Medico.Registro" class="input-group-text" id="Codigo">Registro</span>
        <input type="text" asp-for="Medico.Registro" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default" placeholder="numero registro">
        <span asp-validation-for="Medico.Registro" class="text-danger"></span>
      </div>
    </div>
    <div class="mb-3">
      <div>
        <br>
      </div>
      <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div><br>
      <form>
        <INPUT TYPE="button" VALUE="Retornar" onClick="history.go(-1);" class="btn btn-outline-success"
          style="margin-left:47% ;margin-rigth:50%;">
      </form>

  </form>
</body>